.wp-list-table .column-PER_ID {
    width: 5%;
}

.wp-list-table .column-FET_Image {
    width: 8%;
}

.wp-list-table .column-PER_lname {
    width: 25%;
}

.wp-list-table .column-PER_address {
    width: 15%;
}

.person-to-cpt-people-type-list {
    margin-top: 4px;
    margin-bottom: 4px;
}

.person-to-cpt-people-type-list a {
    text-decoration: none;
    color: #fff;
}

.person-to-cpt-people-type-list a:hover {
    color: #000;
}

.person-to-cpt-people-type-list li.ee-status-outline {
    display: inline-block;
    margin-inline-end: var(--ee-margin-nano);
    padding: 0;
    font-size: var(--ee-font-size-tiny);
    border-radius: var(--ee-border-radius-small);
}

.espresso-admin.wp-core-ui .wp-list-table a.ee-event-filter-link:hover {
    border-color: transparent !important;
    color: var(--ee-color-white);
}

.person-type-count {
    align-items: center;
    background-color: var(--ee-link-color);
    border-radius: var(--ee-border-radius-full);
    box-sizing: border-box;
    color: var(--ee-color-white);
    display: inline-flex;
    font-size: var(--ee-font-size-micro);
    --ee-font-size-default: var(--ee-base-ui-scale); /* 16px */
    height: var(--ee-font-size-default);
    justify-content: center;
    line-height: 1;
    margin: 0;
    margin-inline-start: var(--ee-margin-tiny);
    min-width: var(--ee-font-size-default);
    --ee-ptc-padding: calc(.2 * var(--ee-base-ui-scale));
    padding: calc(var(--ee-ptc-padding) + 1px) var(--ee-ptc-padding) var(--ee-ptc-padding) ;
}



.espresso-admin.wp-core-ui .wp-list-table li.ee-status-outline:hover {
    background-color: var(--ee-link-color);
}

.espresso-admin.wp-core-ui .wp-list-table li.ee-status-outline:hover .person-type-count {
    background-color: var(--ee-color-white);
    color: var(--ee-link-color);
}

@media screen and ( max-width: 782px ) {
    .wp-post-image {
        vertical-align: top;
    }
}
